.auth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f8f8f8;
    padding: 20px;
}

.auth-title {
    font-size: 8vw; /* Responsive font size */
    color: #0b3d91;
    margin-bottom: 20px;
}

.auth-form {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px; /* Restrict width for larger screens */
    text-align: center;
}

.auth-input {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border-radius: 25px;
    border: 1px solid #ddd;
    font-size: 1rem;
    color: #0b3d91;
    background-color: #e0e8ff;
}

.auth-button {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border-radius: 25px;
    background-color: #5b8ef9;
    color: white;
    font-size: 4vw; /* Responsive font size */
    border: none;
    cursor: pointer;
}

.auth-button:hover {
    background-color: #4a79e0;
}

.auth-divider {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.auth-line {
    flex-grow: 1;
    height: 1px;
    background-color: #ddd;
    margin: 0 10px;
}

@media (min-width: 768px) {
    .auth-title {
        font-size: 2.5rem;
    }

    .auth-button {
        font-size: 1.2rem;
    }
}